# Created by .ignore support plugin (hsz.mobi)
*.[oa]
*.py[co]
*.exe
*.log
*.out
*.dat
*.temp
*.mp3
*.mp4
*.csv
.*

useless.txt

images/aca.png
images/acv.png
images/dca.png
images/dcv.png
images/logo.png
images/connect_creating_48px_15285_easyicon.net.png
images/connect_no_48px_19637_easyicon.net.png
images/dcac.png
images/lock_closed_outline_105.8691588785px_1158659_easyicon.net.png
images/lock_open_outline_128px_1158661_easyicon.net.png
images/trouble_update_24px_2350_easyicon.net.png



